body {
	padding: 0;
	margin: 0;
}
header {
	background-color: firebrick;
	padding: 100px;
}
header > h3 {
	color: white;
	text-align: center;
	font-family: sans-serif;
}
.adminform {
	padding: 100px;
}