body {
  padding: 0;
  margin: 0;
}
p#countryName {
  text-align: center;
  padding: 10px;
  color: rgb(19, 94, 207);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section#home {
  background-image: url(/assets/virusphoto1.jpg);
  padding: 150px;
  height: 720px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section#home > div#alert {
  padding: 2.5rem;
}
.covidboard {
  padding: 95px;
  background-color: #2c3e50;
}
.covidboard1 {
  padding: 95px;
  background-color: #2c3e50;
}

section#home > h1 {
  text-align: center;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
}
section#home > h2 {
  color: darkblue;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.footer {
  background-color: black;
  padding: 25px;
}
.footer > .contribute {
  text-align: center;
  color: white;
}
.footer > h3 {
  text-align: center;
  color: white;
  font-family: sans-serif;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}
.subfooter {
	padding: 15px;
	background-color: white;
}
.subfooter > h4 {
	color: rgb(22, 109, 209);
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	padding: 1.5rem;
}
.alertbanner {
	padding: 1px;
	background-color: rgb(34, 101, 178);
	border-radius: 5px;
}
.alertbanner > h1 {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	padding: 1rem;
}
.alertbanner > h1 > p#days {
	font-size: 20px;
	color: black;
	display: inline;
}
.alertbanner > h1 > i#alerts {
	color: white;
}
h4 {
	color: black;
	display: inline;
	text-align: center;
}